
.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
